<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.edgardrake.gw2.achievement"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".GW2Achievement"
        android:allowBackup="true"
        android:icon="@mipmap/ic_gw2_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activities.groups.AchievementGroupsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.categories.AchievementCategoriesActivity"
            android:label="@string/title_activity_achievement_categories"/>
        <activity
            android:name=".activities.achievements.AchievementsActivity"/>
        <activity
            android:name=".activities.detail.AchievementDetailActivity"
            android:label="Achievement"/>
    </application>

</manifest>